extends layout

block title_name
  title Documentation - Splufp

block head_additional
  link(rel='stylesheet' href='/stylesheets/docs.css')
  link(rel='stylesheet' href='/stylesheets/code-editor.css')
  block doc_head_additional

block content-container
  // Get the ace editor script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.0/ace.min.js" integrity="sha512-e1Y1L6lY7YKDe+zseybZUG8MYUMLA1jxMQAPJqRYiA4L8NPaXfW+h52QQTLurHW4w3b21LxH/u1sZYMBtoB70w==" crossorigin="anonymous" referrerpolicy="no-referrer")
  

  script(src='/javascripts/editor.js')

  div(class='d-flex flex-row align-items-stretch no-overflow-x row fill-width-vw')
    // Generates the sidebar dropdowns for the documentation page
    if sidebar
      div(class='d-inline-flex flex-column col-sm-3 sidebar-container')
        for link in sidebar
          ul(class='dropdown-menu show light sidebar' style='margin: 10px 10px; position: relative;')
            // Only add a header if we have one
            if link.header
              li
                h6(class='light dropdown-header responsive')= link.header
              li
                hr(class='dropdown-divider')


            if link.children
              for child in link.children
                li
                  // Set up the correct highlighting and href for the links
                  // The current page is always highlighted and unable to be clicked
                  if active_link == child.link
                    a(class='active nav-hover-hint light dropdown-item responsive')= child.name
                  else
                    a(class='inactive nav-hover-hint light dropdown-item responsive' href=child.link)= child.name
    // add the content container
    div(class='d-inline-flex flex-column justify-content-start col-sm-9' style='padding: 10px 10vw 10px;')
      block doc_content
