extends docs

block title_name
  title What is Splufp? - Splufp

block doc_head_additional

block doc_content
  h1 What is Splufp?
  p.
    Splufp is a functional language that compiles to javascript.
    Splufp is heavily focused on simplicity in syntax and ease of reading
    It uses dynamic typing and can use external javascript functions
  p Splufp aims at making your code easy to understand and to quicken your workflow

  h2(class='doc-content-header') Hello World

  p The classic <strong>Hello World</strong> program is not that different from other languages
  

  div(id='hello-world-splufp' class='ace_min-line-height-3 ace_line-height-3 ace_readonly ace_hide_line_numbers').
    main {
      log "Hello World"
    }
  // You cannot leave a line underneath an editor otherwise you can scroll when you shouldn't
  h2(class='doc-content-header') Where did the Brackets go?

  p.
    The syntax of Splufp is based on
    <a class='content-link' href='https://www.haskell.org/'>Haskell</a>
    and
    <a class='content-link' href='https://lisp-lang.org/'>Clisp</a>
    . Splufp takes inspiration of the whitespace approach by Haskell and pairs it with
    the flexibility of Clisp variables
  
  h4 Haskell
  div(id='hello-world-haskell' class='ace_min-line-height-1 ace_line-height-1 ace_readonly ace_hide_line_numbers').
    main = putStrLn "Hello World!"
  h4(style='margin-top: 10px;') Clisp
  div(id='hello-world-lisp' class='ace_min-line-height-1 ace_line-height-1 ace_readonly ace_hide_line_numbers').
    (format t "Hello World!~%")
  // This comment ends the lisp section

  script.
    make_editor('hello-world-splufp');
    make_editor('hello-world-haskell', 'haskell');
    make_editor('hello-world-lisp', 'lisp');
