extends docs

block title_name
  title Introduction - Splufp

block doc_content
  h1 Introduction

  p.
    If you have not already installed Splufp, go and check out the
    #[a(class='content-link' href='installation') Installation Guide]

  h1 Compiling Hello World

  p For this example, I will be using the nodeJS version of the transpiler.
  p Replace #[code PATH_TO_SPLUFP_TRANSPILER] with the path to where your version of the transpiler is located.
  p Create a new folder named #[code hello] and navigate into that folder.
  p Run the command #[code node PATH_TO_SPLUFP_TRANSPILER init_project]
  p Make a file named #[code main.spl].
  p Open #[code main.spl] and write the following code.
  div(id='hello-world' class='ace_min-line-height-4 ace_line-height-4 ace_readonly ace_hide_line_numbers').
    main {
      log "Hello World"
    }
  
  p Now we can compile the code with the transpiler.
  code node PATH_TO_SPLUFP_TRANSPILER --out=main.js main.spl

  p You should get a file named #[code main.js] which can be used in javascript projects.

  h1 Running Hello World

  p You can run the #[strong 'Hello World'] program in the browser. For example, by writing the following code in #[code index.html] we can see the output when we open the console tab in the page inspector.
  div(id='hello-world-html' class='ace_min-line-height-11 ace_line-height-11 ace_readonly ace_hide_line_numbers').
    &lt;!DOCTYPE html>
    &lt;html>
      &lt;body>
        &lt;script src='spl-extern/splufp-lang.js'>&lt;/script>
        &lt;script src='main.js'>&lt;/script>
        &lt;script>
          __spl__main.call();
        &lt;/script>
      &lt;/body>
    &lt;/html>
  
  iframe(src='/examples?script=hello_world.js')


  script.
    make_editor('hello-world');
    make_editor('hello-world-html', 'html');
  
