extends docs

block title_name
  title Installing Splufp - Splufp

block doc_content
  h1 Downloading from Github

  p.
    You can download the Splufp transpiler from
    #[a(class='content-link' href='https://github.com/DrflamemontgomerySchool/splufp-interpreter/releases/latest') Github].
    Download the file #[strong splufp-transpiler.vX.X.X-alpha.zip] and open the contents. Inside should be two versions of the transpiler. One for NodeJS and one for Python. It doesn't matter which one you use.
  p You should also find two folders #[strong spl] and #[strong spl-extern]
  p The spl-extern folder contains the Javascript files that you need to include in your project to run splufp.
  p The spl folder contains the standard library for the splufp language. #[strong You need to reference this file when compiling your code]


