extends layout

block title_name
  title Try Splufp - Splufp

block head_additional
  link(rel='stylesheet', href='/stylesheets/editor.css')
  link(rel='stylesheet' href='/stylesheets/code-editor.css')

block content
  // Get the ace editor script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.0/ace.min.js" integrity="sha512-e1Y1L6lY7YKDe+zseybZUG8MYUMLA1jxMQAPJqRYiA4L8NPaXfW+h52QQTLurHW4w3b21LxH/u1sZYMBtoB70w==" crossorigin="anonymous" referrerpolicy="no-referrer")

  script(src='/javascripts/editor.js')
  
  div(class='d-flex flex-row row')
    div(class='d-flex col-sm-1')
    div(class='d-flex col-sm-4 flex-row row justify-content-center' id='compile-data')
      button(class='dark btn compile-button col-sm-2' onclick='compile_code()') Compile
      button(class='dark btn compile-button col-sm-2' onclick='run_code()') Run

  // Make the content responsive and flip to a column when the screen is too small
  div(class='d-flex flex-row row justify-content-around editor-container' id='editor-content')
    div(id='splufp-editor' class='col-sm-5').
      main {
        log "Hello World!"
      }
    div(id='editor-output' class='col-sm-5 light')
      div(id='graphics-output' style='height: 70%;')
        canvas(id="graphics-canvas" width='400px' height='400px')
      hr
      div(style='height: 20%')
        textarea(id='text-output' readonly).
          How to run the code:
              1. Click Compile
              2. Wait until the code has compiled
              3. Click Run
  script.
    make_editor('splufp-editor')
  // End script
  script(src='/javascripts/compiler.js')
  script(src='/splufp/splufp-lang.js')
  script(src='/splufp/splufp-lang-web.js')

