extends layout

block head_additional
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  // Make the content responsive and flip to a column when the screen is too small
  div(class='d-flex flex-row row justify-content-center')
   
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-center content')
      div(class='d-inline-flex flex-shrink-0 justify-content-center')
        image(src='images/logo-light.svg' alt='The Splufp language icon' class='splufp-lang-logo')
    // Separates the image from the text
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-center main-content')
      div(class='d-inline-flex flex-shrink-0 justify-content-center')
        p(class='splufp-lang-description').
          Splufp is a functional programming language with easy to read code and quick workflows.
      div(class='d-inline-flex flex-shrink-0 justify-content-left splufp-lang-description')
        a(class='dark btn button-link' href='https://github.com/DrflamemontgomerySchool/splufp-interpreter/releases/latest') Download

block after-content
  div(class='d-flex flex-row row justify-content-center secondary-bg fill-width-vw')
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-left main-content content-padded')
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        h1(class='main-content-text').
          What is splufp?
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        p(class='main-content-text').
          Splufp is a functional language that compiles to JavaScript.
          Splufp is heavily focused on simplicity in syntax and ease of reading.
          It uses dynamic typing and can use external JavaScript functions.
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        a(class='dark btn button-link' href='/docs/home') Learn More
  div(class='d-flex flex-row row justify-content-center fill-width-vw primary-bg')
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-left main-content content-padded')
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        h1(class='main-content-text').
          Where can I get help?
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        p(class='main-content-text').
          You can email me at 
          #[a(class='content-link' href='mailto:ashton.warner@kingsway.school.nz') ashton.warner@kingsway.school.nz]
          #[br]Or you can head to the Splufp FAQ.
      div(class='d-inline-flex flex-shrink-0 justify-content-left')
        a(class='dark btn button-link' href='/help') FAQ
