extends layout

block head_additional
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  // Make the content responsive and flip to a column when the screen is too small
  div(class='d-flex flex-row row justify-content-center')
   
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-center')
      div(class='d-inline-flex flex-shrink-0 justify-content-center')
        image(src='images/logo-light.svg' alt='The splufp language icon' class='splufp-lang-logo')
    // Separates the image from the text
    div(class='d-inline-flex flex-column flex-shrink-0 col-sm justify-content-center')
      div(class='d-inline-flex flex-shrink-0 justify-content-center')
        p(class='splufp-lang-description').
          Splufp is a functional programming language with easy to read code and quick workflows
