doctype html
html
  head
    title= title
    link(rel='icon' type='image/x-icon' href='/images/favicon.png')


    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nord.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    block head_additional
  body
    block navbar
      div(class='inverse-color navbar')
        a(class='navbar-icon' href='/')
          image(src='images/logo-horizontal-on-dark.svg' alt='The splufp language icon')
        ul(class='navbar-links-container')
          // for every link passed in, create a link element
          if links
            each link in links
              li(class='navbar-link-element')
                a(class='navbar-link' href=link.href)=link.name
    div(class='container' style='width: 100%')
      block content
