body, .light {
  color: var(--nord0);
  background-color: var(--nord6);
}

.no-overflow-x {
  overflow-x: hidden;
}

.no-overflow-y {
  overflow-y: hidden;
}

.fill-width-vw {
 width: 100vw;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-vh {
  min-height: 100vh;
}

.clearfix {
  overflow: auto;
}

#splufp-brand {
  padding-left: 10px;
}

#navbarSupportedContent {
  margin-bottom: -5px;
}

#navbar-toggler {
  margin-right: 10px;
}

#navbar-links {
  margin-bottom: -10px;
  gap: 10px;
}

.nav-dropdown-item {
  margin-top: .2rem;
}

.dropdown-divider.dark {
  border-top: 1px solid var(--nord1);
}

.nav-shadow.dark {
  transition: box-shadow 0.1s;
  color: var(--nord6) !important;
}

.nav-shadow.dark:hover {
  box-shadow: 0px 0px 3px 12px #272e36 !important;
  background-color: #272e36 !important;
}

.dropdown-divider.light {
  border-top: 1px solid var(--nord0);
}

.nav-hover-hint {
  transition: color 0.3s;
  transition: background-color 0.3s;
}

.nav-hover-hint:hover {
  color: var(--nord10);
}

.nav-hover-hint.light:hover {
  background-color: var(--nord4);
}

.nav-hover-hint.dark:hover {
  background-color: var(--nord3);
}

.nav-shadow.light {
  transition: box-shadow 0.1s;
  color: var(--nord0) !important;
}

.nav-shadow.light:hover {
  box-shadow: 0px 0px 3px 12px #272e36 !important;
  background-color: #272e36 !important;
}


.nav-link {
  padding-left: 40px;
  font-size: 20px;
}

.dark {
  color: var(--nord6);
  background-color: var(--nord0);
}

.light {
  color: var(--nord0);
  background-color: var(--nord6);
}

.inverse-color {
  color: var(--nord6);
  background-color: var(--nord0);
}

#navbar-toggler.dark {
  border: 1px solid var(--nord6);
}

#navbar-icon.dark {
  /*
   * Uses the w3schools image for expanding the navigation bar but
   * changes the colors of the image
   */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 239, 244, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*#footer {
  position: absolute;
  bottom: 0;
  min-height: 100px;
}

#page-footer {
  width: 100%;
  height: 100%;
}*/

.page-container {
  position: relative;
  min-height: 100vh;
}

.container-wrap {
  padding-bottom: 4rem;
}

.footer-element {
  margin-left: 70px;
  min-width: 120px;
  height: 100%;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-header {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: inherit;
}
