.sidebar-container {
  width: calc(150px + 2vw);
}

@media only screen and (max-width: 652px) {
  .sidebar-container {
    margin-left: 30px;
    width: calc(100% - 40px);
  }
}

.sidebar {
  min-width: calc(30px + 10vw);
}

.nav-divider {
  margin: 0px 0px;
  color: var(--nord7);
}

.dropdown-item.active {
  background-color: var(--nord9);
}

.nav-hover-hint.active.light:hover {
  color: var(--nord6);
}

.nav-hover-hint.active.dark:hover {
  color: var(--nord0);
}
.nav-hover-hint.active:hover {
  background-color: var(--nord9) !important; 
}

.fill-list {
  flex: 0 0 100%;
}

a.responsive {
  /*font-size: calc(8px + 1.5vw);*/
  font-size: calc(8pt + 0.6vw);
}

h6.responsive {
  font-size: calc(6pt + 0.6vw);
  /*font-size: calc(4px + 1.3vw);*/
}

.fill-page {
  height: 100%;
}

.doc-content-header {
  margin-top: 30px;
}
