.sidebar {
  border-style: none solid none none;
  border-width: 1px;
}

.sidebar.dark {
  border-color: var(--nord6);
}

.sidebar.light {
  border-color: var(--nord0);
}

.nav-divider {
  margin: 0px 0px;
  color: var(--nord7);
}

.dropdown-item.active {
  background-color: var(--nord9);
}

.nav-hover-hint.active.light:hover {
  color: var(--nord6);
}

.nav-hover-hint.active.dark:hover {
  color: var(--nord0);
}
.nav-hover-hint.active:hover {
  background-color: var(--nord9) !important; 
}

.fill-list {
  flex: 0 0 100%;
}

.fill-page {
  height: 100%;
}
