
/* Make the logo resize */
.splufp-lang-logo {
  min-width: 40vw;
}

/*****
 * Add some padding so it looks nice when it fills underneath the logo
 * Make the font responsive  
 *****/
.splufp-lang-description {
  padding-left: 30px;
  padding-right: 30px;

  font-size: calc(10px + 1.5vw);
}
